<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourddoll.mapper.BlogCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gourddoll.entity.BlogComment">
        <id column="id" property="id" />
        <result column="blog_id" property="blogId" />
        <result column="content" property="content" />
        <result column="parent" property="parent" />
        <result column="create_time" property="createTime" />
        <result column="commentator" property="commentator" />
    </resultMap>

</mapper>
