<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourddoll.mapper.BlogVisitLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gourddoll.entity.BlogVisitLog">
        <id column="id" property="id" />
        <result column="blog_id" property="blogId" />
        <result column="visitor_name" property="visitorName" />
    </resultMap>

</mapper>
