<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourddoll.mapper.LinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gourddoll.entity.Link">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="linked_username" property="linkedUsername" />
        <result column="url" property="url" />
        <result column="summary" property="summary" />
        <result column="img" property="img" />
        <result column="status" property="status" />
        <result column="weight" property="weight" />
        <result column="display" property="display" />
        <result column="email" property="email" />
    </resultMap>

</mapper>
