<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="" th:fragment="commonNavigation" id="navigation">
    <nav class="navbar navbar-default container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/index}">首页<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a th:href="@{/article}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:each="categoryI,iterStat : ${session.categoryList}">
                            <a th:href="@{'/blog?categoryName='+${categoryI.categoryName}}">[[${categoryI.categoryName}]]</a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/pigeonhole}">归档</a></li>
                <li><a th:href="@{/message}">留言板</a></li>
                <li><a th:href="@{/about}">关于我</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入你想要搜索的内容">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.visitor.username eq 'anonymousUser'}"><a data-toggle="modal" data-target="#myModal">写博客</a></li>
                <li th:unless="${session.visitor.username eq 'anonymousUser'}"><a th:href="@{/save_or_update_page}">写博客</a></li>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    模态框（Modal）标题
                                </h4>
                            </div>
                            <div class="modal-body">
                                您未登录，若要写博客请先登录
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                </button>
                                <a th:href="@{/login_page}">
                                    去登录
                                </a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <!--<security:authorize access="isAuthenticated()">
                    authenticated as <security:authentication property="username" />
                </security:authorize>-->
                <li class="dropdown">
                    <a th:if="${session.visitor.username eq 'anonymousUser'}" th:text="请登录" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                    <a th:unless="${session.visitor.username eq 'anonymousUser'}" th:text="${session.user.username}" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的博客</a></li>
                        <li><a href="#">账号设置</a></li>
                        <li><a href="#">意见反馈</a></li>
                        <li role="separator" class="divider"></li>
                        <!--${sessionScope.SPRING_SECURITY_CONTEXT.authentication.principal.username}一直为null-->
                        <li th:if="${session.visitor.username eq 'anonymousUser'}"><a th:href="@{/login_page}">登录</a></li>
                        <li th:unless="${session.visitor.username eq 'anonymousUser'}"><a th:href="@{/logout}">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
<script th:inline="javascript">
    function toLoginPage() {

    }
</script>