ul{
    list-style: none;
    /*防止左边有间隙*/
    margin:0;
    padding:0;
}
#username{
    float: left;
}
#chat{
    float: left;
}
#followee{
    float: left;
}
.commend_art_item{
    width: 100%;
    height: 22%;
}
.artimg{
    float: left;

}
.summary{
    float: left;

}
.summary p{
    text-indent: 2rem;
}