<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/index.css">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::commonHeader"></head>
<link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">

<title>首页</title>
<body style="background-color: #5bc0de">
    <div th:include="common/common_navigation :: commonNavigation"></div>
    <div class="container">
        <div class="row" id="content">
            <div class="col-md-4" id="left_nav">
                <div class="row" id="card">
                    <!--head portrait-->
                    <div class="container-fluid" id="head_portrait">
                        <div class="col-md-4 col-sm-4">
                            <img th:src="@{/img/p1.png}" style="width:30px; height:30px;float: left;">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <p>username</p>
                            <p>进入他的主页</p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button id="chat">私信</button>
                            <button id="followee">关注</button>
                        </div>
                    </div>


                    <!--user statistic-->
                    <div class="container-fluid" id="user statistic">
                        <div class="col-md-4 col-sm-2">
                            <div>文章</div>
                            <div>123</div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div>关注</div>
                            <div>50</div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div>粉丝</div>
                            <div>50</div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div>获赞</div>
                            <div>50</div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div>评论</div>
                            <div>50</div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div>访问</div>
                            <div>50</div>
                        </div>
                    </div>

                    <!--user rank-->
                    <div class="container-fluid" id="user_rank">
                        <div class="col-md-6">
                            <div>等级:6</div>
                        </div>
                        <div class="col-md-6">
                            <div>周排名:1630</div>
                        </div>

                        <div class="col-md-6">
                            <div>积分:300</div>
                        </div>
                        <div class="col-md-6">
                            <div>总排名:800</div>
                        </div>

                        <div  class="col-md-12">
                            勋章:<img th:src="@{/img/p1.png}" style="width:24px; height:24px;">
                        </div>
                    </div>

                </div>

                <div class="container-fluid" id="blog_rank">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#read_times" aria-controls="home" role="tab" data-toggle="tab">阅读排行</a></li>
                            <li role="presentation"><a href="#recent" aria-controls="profile" role="tab" data-toggle="tab">最新发布</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="read_times">
                                <ul>
                                    <li class="readTop_art_item" th:each="rbg,iterStat : ${commendBlogList}">
                                        <p th:text="${rbg.title}"></p>
                                    </li>
                                </ul>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="recent">
                                <ul>
                                    <li class="readTop_art_item" th:each="nbg,iterStat : ${newestBlogPage}"><!--,${#numbers.sequence(1,10)}-->
                                        <p th:text="${nbg.title}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container-fluid" id="tag_cloud">
                    <h5 class="index-title">标签云  Tag Cloud</h5>
                    <ul>
                        <li th:each="tagi,iterStat : ${tagList}">
                            <p th:text="${tagi.tagName}"></p>
                        </li>
                    </ul>
                </div>

                <div class="container-fluid" id="friend_links">
                    <h5 class="index-title">友情连接  Friend Links</h5>
                    <ul>
                        <li>大老杨</li>
                        <li>边小丰</li>
                        <li>陈豪</li>
                        <li>Turing</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-8">
                <!--banner-->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-responsive center-block" th:src="@{/img/ban1.png}" alt="这是第一张图片">
                        </div>
                        <div class="item">
                            <img class="img-responsive center-block" th:src="@{/img/ban2.png}" alt="这是第二张图片">
                        </div>
                        <div class="item">
                            <img class="img-responsive center-block" th:src="@{/img/ban3.png}" alt="这是第三张图片">
                        </div>
                        <div class="item">
                            <img class="img-responsive center-block" th:src="@{/img/ban4.png}" alt="这是第四张图片">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!--commend_art_list-->
                <div class="" id="commend_art_list">
                    <h5>推荐文章</h5>
                    <ul>

                        <li class="commend_art_item" th:each="cbg,iterStat : ${commendBlogList}">
                            <div class="artimg" style="width: 20%;">
                                <img th:src="@{/img/p1.png}" alt="..." style="width: 100%;">
                            </div>
                            <div class="summary" style="width: 80%;">
                                <h3 th:text="${cbg.title}"></h3>
                                <p th:text="${cbg.summary}"></p>
                                <p><a th:href="${'/blog/'+cbg.blogId}">查看详情...</a></p>
                                <ul class="blog_stas">
                                    <li>发布日期：<p th:text="${cbg.createTime}"></p></li>
                                    <li>作者：<p th:text="${cbg.author}"></p></li>
                                    <li>阅读量：<p th:text="${cbg.readTimes}"></p></li>
                                    <li>点赞量：<p th:text="${cbg.likedTimes}"></p></li>
                                    <li style="float: right">分类：<p th:text="${cbg.category.categoryName}"></p></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>

                <div style="margin-bottom: 50px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <ul class="page" maxshowpageitem="5" pagelistcount="5" id="page"></ul>
                    </div>
                    <div class="col-md-3"></div>
                </div>

            </div>
        </div>
    </div>

    <div th:include="common/common_footer :: commonFooter"></div>
</body>

<script type="text/javascript" th:inline="javascript">
    var totalCount = [[${totalCount}]];
    var pageNumber = [[${pageNumber}]];
    var urlPre = "blog/";
    var GG = {
        "kk": function (mm) {
            if (mm == 1) {
                window.location.href = getRootPath_dc() + urlPre;
            } else {
                window.location.href = getRootPath_dc() + urlPre + mm;
            }
        }
    }
    $("#page").initPage(totalCount, pageNumber, GG.kk);

    function getRootPath_dc() {
        return window.location.protocol + '//' + window.location.host + "/";
    }

</script>

</html>
