<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:include="common/common_head::commonHeader">
    <title>资源</title>
</head>

<body>

    <div th:include="common/common_navigation :: commonNavigation"></div>
    <div class="container pt">
        <div class="row mt centered">

            <div class="col-lg-4">
                <p th:text="这里放归档"></p>
            </div>
        </div>
    </div>


    </div>
    <div th:include="common/common_footer :: commonFooter"></div>
</body>

</html>
